* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: rgb(5, 5, 59);
}

#area {
	background: white;
	width: 400px;
	aspect-ratio: 1;
	margin-top: 80px;
	overflow: hidden; /*все дочерние элементы за границей родительского не видны*/
}
#object {
	background: orange;
	width: 60px;
	aspect-ratio: 1;
	transform: translateY(-100%);
}

#object.is-moving {
	animation-name: movement; /*применяем анимацию к обьекту*/
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; /*движется с одинаковой скоростью*/
}

/*animation*/
@keyframes movement {
	to {
		transform: translateY(400px); /*смещение по оси Y на 400px*/
	}
}
.start_button {
	width: 100px;
	height: 100px;
	margin: 10px;
}

.container {
	margin: 10px;
}
