* {
    text-decoration: none;
    color: black;
}

/*Сделайте все строки синими.*/
/*p {*/
/*    color: blue;*/
/*}*/

/*Сделайте две верхние строки синими.*/
/*div p {*/
/*    color: blue;*/
/*}*/


/*Первый элемент имеет жирный шрифт.*/
ul li:first-child {
    font-weight: bold;
}

/*Последний элемент имеет Italic style*/
ul li:last-child {
    font-style: italic;
}

/*Нечетные элементы имеют фон какого-то цвета.*/
ul li:nth-child(odd) {
    background-color: red;
}

a:visited {
    color: green;
}

a:focus {
    font-style: italic;
}

a:active {
    background-color: orangered;
}

a:hover {
    text-decoration: underline;
}

p:first-letter {
    color: red;
    font-weight: bold;
    font-size: 140%;
}

.par:first-line {
    color: red;
}

.par:before {
    content: '...';
    display: block;
}

.par:after {
    content: '...';
}