* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 15px;
}

.block {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_1 {
	padding: 10px 15px;
	background-color: coral;
	color: silver;
	border: none;
	border: 1px solid rgb(255, 88, 27);
	cursor: pointer;
	transition: all 2s 0s cubic-bezier(0.1, -1.06, 0.78, 1.81);
}

.btn_1:hover {
	color: coral;
	background-color: silver;
	box-shadow: 2px 2px 9px 3px black;
	transform: rotate(360deg) scale(2) translate(10px, 10px); /*scale - масштабирует элемент*/
}

/*after, before, pseudoelements :: */
/**after, before - inline elements*/

ul {
	list-style: none;
}

li::after {
	content: attr(data-status);
	margin: 0 5px;
}

li::before {
	content: '';
	margin: 0 5px;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: blue;
}
